
.contenedorTitulo{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1.2%;
    margin: 1.2%;
    
}

.d-img{
    width: 150px;
    height: 850px;
    padding: 35px;
}

.d-img2{
    width: 150px;
    height: 850px;
    padding: 35px;
}

#icon{
    display: inline-flex;
    justify-content: end;
    align-items: center;
}

#icon i{
    font-size: 2rem;
}

.productos-carro img{
    width: 100%;
}